/* Variables */
/* Global */
*, *::before, *::after {
  box-sizing: border-box;
}

.container {
  max-width: 1140px;
  padding: 0 20px;
  margin: 0 auto;
}

body {
  margin: 0;
  background: #fff;
  color: #3d3d3d;
  font-family: "Inconsolata", monospace;
}

.btn {
  background-color: #fed136;
  /* Yellow */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
}

.section-heading {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-direction: column;
      flex-direction: column;
  padding-bottom: 35px;
}

.section-heading .section-title {
  display: -ms-flexbox;
  display: flex;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  font-weight: bold;
}

.section-heading .section-subtitle {
  font-family: "Baskervville", serif;
  color: #777777;
}

section {
  padding: 80px 0;
}

/* Header */
/* Navigation */
.logo {
  font-family: "Lobster", cursive;
  font-size: 26px;
  color: #fed136;
  text-transform: uppercase;
}

header {
  background: url("https://images.pexels.com/photos/5351327/pexels-photo-5351327.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260") 20% 60% no-repeat;
  background-size: cover;
}

header ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

header ul li {
  margin-right: 36px;
  position: relative;
  display: inline-block;
}

.topbar {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: justify;
      justify-content: space-between;
  color: #fff;
  font-family: "Roboto", sans-serif;
}

.topbar a {
  text-decoration: none;
  color: #fff;
}

.splash-inner {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-direction: column;
      flex-direction: column;
  padding-top: 80px;
  padding-bottom: 95px;
}

.splash-inner .splash-title {
  color: #fff;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
}

.splash-inner .splash-subtitle {
  color: #fff;
  font-family: "Baskervville", serif;
  font-weight: 400;
}

/* services */
.icon-groups {
  display: -ms-flexbox;
  display: flex;
}

.icon-group {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  padding: 4% 4% 0 4%;
}

.icon-group .fas {
  text-align: center;
  font-size: 30px;
  border-color: #fed136;
  border: 2px solid #fed136;
  width: 50px;
  height: 50px;
  line-height: 40px;
  color: #fed136;
  border-radius: 50%;
}

.icon-group p {
  text-align: center;
  font-family: "Baskervville", serif;
}

/* Our portfolio */
.portfolio {
  background-color: #f7f7f7;
  width: 100%;
}

.card-section {
  width: 100%;
  margin: 0 auto;
}

.card-section-row {
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
}

.card {
  width: 30%;
  background-color: white;
  margin: 3%;
  border: 1px solid;
}

.card-txt {
  text-align: center;
  padding: 10px;
}

/* footer */
.footer-wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  max-width: 40%;
}

.footer-icon-section {
  line-height: 50px;
}

footer .fab {
  text-align: center;
  font-size: 10px;
  background: black;
  width: 20px;
  height: 20px;
  line-height: 20px;
  color: #fff;
  border-radius: 50%;
}

@media (max-width: 767px) {
  .icon-groups {
    display: block;
  }
  .card-section-row {
    display: block;
  }
  .card-section-row .card {
    width: 100%;
  }
  .footer-wrapper {
    max-width: 68%;
  }
}
/*# sourceMappingURL=style.css.map */