/* Variables */

$project-yellow: #fed136;
$project-text-grey: #777777;
$project-white: #fff;
$project-portfolio-grey: #f7f7f7;

$font-roboto: 'Roboto', sans-serif;
$font-baskerville: 'Baskervville', serif;
$font-logo: 'Lobster', cursive;

/* Global */
*, *::before, *::after {
    box-sizing: border-box; }
  
.container {
    max-width: 1140px;
    padding: 0 20px;
    margin: 0 auto; 
}

body {
    margin: 0;
    background: #fff;
    color: #3d3d3d;
    font-family: "Inconsolata", monospace; 
    
}
 
.btn {
    background-color: $project-yellow; /* Yellow */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
  }
  .section-heading {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 35px;
    .section-title {
        display: flex;
        text-transform: uppercase;
        font-family: $font-roboto;
        font-size: 22px;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        
    }
    .section-subtitle {
        font-family: $font-baskerville;
        color: $project-text-grey;
    }
    
}

section {
    padding: 80px 0;
}
/* Header */
/* Navigation */
.logo {
    font-family: $font-logo;
    font-size: 26px;
    color: $project-yellow;
    text-transform: uppercase;
}
header {
    background: url("https://images.pexels.com/photos/5351327/pexels-photo-5351327.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260") 20% 60% no-repeat;
    background-size: cover; 
    }
    header ul {
      padding: 0;
      margin: 0;
      list-style-type: none; }
      header ul li {
        margin-right: 36px;
        position: relative;
        display: inline-block; }
    .topbar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: #fff;
        font-family: $font-roboto;
        a {
            text-decoration: none;
            color: #fff;
        }
    }
 
.splash-inner {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    padding-top: 80px;
    padding-bottom: 95px;
    .splash-title {
        color: #fff;
        font-family: $font-roboto;
        text-transform: uppercase;
    }
    .splash-subtitle {
        color: #fff;
        font-family: $font-baskerville;
        font-weight: 400;
    }
}
  
/* services */

.services {
    
}
.icon-groups {
    display: flex;
}
.icon-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    //max-width: 33.333%;
    padding: 4% 4% 0 4%;
    .fas {
        text-align: center;
        font-size: 30px; 
        border-color: $project-yellow;
        border: 2px solid $project-yellow;
        width: 50px;
        height: 50px;
        line-height: 40px; 
        color: $project-yellow;
        border-radius:  50%;
    }
    p {
        text-align: center;
        font-family: $font-baskerville;
    }
}

/* Our portfolio */

.portfolio {
    background-color: $project-portfolio-grey;
    width: 100%;
}
.card-section {
    width: 100%;
    //max-width: 80%;
    margin: 0 auto;
}
.card-section-row {
    display: flex;
    //max-width: 80%;
    margin: 0 auto;
}
.card {
    width: 30%;
    background-color: white;
    margin: 3%;
    border: 1px solid;
}

.card-txt {
    text-align: center;
    padding: 10px;
}

/* footer */

.footer-wrapper {
    display: flex;
    justify-content: space-around;
    max-width: 40%;
}

.footer-icon-section {
    line-height: 50px;
}
footer .fab {
    text-align: center;
    font-size: 10px; 
    background: black;
    width: 20px;
    height: 20px;
    line-height: 20px; 
    color: $project-white;
    border-radius:  50%;
}

@media (max-width: 767px) {
    .icon-groups {
        display: block;
    }
    .card-section-row {
        display: block;
        .card {
            width: 100%;
        }
    }
    .footer-wrapper {
        max-width: 68%;
    }
}